body{
    background-color: #F8FFF6; /* 用您想要的颜色替换 #f0f0f0 */
}

#map-container {
    width: 100%;
    height: 100vh;
}

#map {
    height: 100%;
    width: 100%;
}

.custom-container {
    width: 85%;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
  }

.custom-font-size{
    font-size: 1.5rem;
    font-weight:350;
    line-height:1.2;
}
